In [1]:
#import libraries
import pandas as pd
import numpy as np

#read file
df = pd.read_csv('./fifa21_validate.csv')

# Show the dataframe shape.
df.shape

(1999, 101)

In [2]:
df

,ID,Name,Age,Nationality,Club,BP,Position,Team & Contract,Height,Weight,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,219461,E. Palmer-Brown,23,United States,FK Austria Wien,CB,CB,"FK Austria Wien Jun 30, 2021 On Loan","6'2""",194lbs,...,61+2,61+2,59+2,61+2,67+2,67+2,67+2,61+2,16+2,67
1,221896,D. Avdijaj,22,Kosovo,Heart of Midlothian,CAM,LM CAM,Heart of Midlothian 2020 ~ 2020,"5'8""",154lbs,...,47+2,47+2,49+2,45+2,38+2,38+2,38+2,45+2,17+2,68
2,247428,D. Ochoa,19,United States,Real Salt Lake,GK,GK,Real Salt Lake 2018 ~ 2020,"6'2""",176lbs,...,18+2,18+2,16+2,16+2,18+2,18+2,18+2,16+2,53+2,54
3,255120,N. Kenneh,16,England,Leeds United,CDM,CB CDM RB,Leeds United 2020 ~ 2022,"6'3""",170lbs,...,54+2,54+2,53+2,53+2,54+2,54+2,54+2,53+2,11+2,55
4,215556,E. Fernandes,24,Switzerland,1. FSV Mainz 05,CDM,CM CDM,1. FSV Mainz 05 2019 ~ 2023,"6'2""",170lbs,...,72+2,72+2,70+2,69+2,68+2,68+2,68+2,69+2,18+2,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,239074,S. Aw,21,Senegal,Gil Vicente FC,LB,LB,Gil Vicente FC 2020 ~ 2023,"5'8""",143lbs,...,52+2,52+2,58+2,58+2,54+2,54+2,54+2,58+2,15+2,60
1995,241223,S. Mogi,21,Japan,Cerezo Osaka,GK,GK,Cerezo Osaka 2017 ~ 2021,"6'5""",176lbs,...,23+2,23+2,20+2,20+2,22+2,22+2,22+2,20+2,58+2,59
1996,210930,Carles Gil,27,Spain,New England Revolution,RM,RM CAM CM,New England Revolution 2019 ~ 2024,"5'7""",146lbs,...,60+2,60+2,62+2,57+2,47+2,47+2,47+2,57+2,18+2,76
1997,162993,J. Perch,34,England,Mansfield Town,CDM,CDM RB CM,Mansfield Town 2020 ~ 2021,"5'11""",176lbs,...,62+1,62+1,60+2,60+2,63+0,63+0,63+0,60+2,14+2,63
1998,254882,A. Oeynhausen,18,Germany,SC Paderborn 07,CAM,CM,SC Paderborn 07 2020 ~ 2022,"5'10""",150lbs,...,55+2,55+2,55+2,54+2,51+2,51+2,51+2,54+2,16+2,60

In [3]:
df.columns

Index(['ID', 'Name', 'Age', 'Nationality', 'Club', 'BP', 'Position',
       'Team & Contract', 'Height', 'Weight',
       ...
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'GK', 'OVA'],
      dtype='object', length=101)

In [4]:
cols = []
for colname in df.columns:
    cols.append(colname.lower())
df.columns = cols
df.columns

Index(['id', 'name', 'age', 'nationality', 'club', 'bp', 'position',
       'team & contract', 'height', 'weight',
       ...
       'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb', 'gk', 'ova'],
      dtype='object', length=101)

In [5]:
cols = []
for colname in df.columns:
    cols.append(colname.replace(' ', '_'))
df.columns = cols
df.columns

Index(['id', 'name', 'age', 'nationality', 'club', 'bp', 'position',
       'team_&_contract', 'height', 'weight',
       ...
       'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb', 'gk', 'ova'],
      dtype='object', length=101)

In [6]:
df.dtypes

id              int64
name           object
age             int64
nationality    object
club           object
                ...
cb             object
rcb            object
rb             object
gk             object
ova             int64
Length: 101, dtype: object

In [7]:
df_n = df.select_dtypes(include=[np.number])
df_n

,id,age,growth,attacking,crossing,finishing,heading_accuracy,short_passing,volleys,skill,...,gk_reflexes,total_stats,base_stats,pac,sho,pas,dri,def,phy,ova
0,219461,23,7,230,47,21,62,60,40.0,228,...,9,1551,334,64,30,50,50,66,74,67
1,221896,22,5,298,62,60,44,62,70.0,330,...,8,1726,358,74,67,62,74,24,57,68
2,247428,19,17,48,7,5,11,21,4.0,52,...,55,808,295,56,52,53,55,26,53,54
3,255120,16,23,215,38,31,55,59,32.0,224,...,6,1381,303,58,34,47,52,53,59,55
4,215556,24,5,295,57,59,45,78,56.0,327,...,13,1864,407,67,62,68,70,69,71,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,239074,21,11,197,59,23,42,51,22.0,207,...,13,1443,315,76,28,46,55,53,57,60
1995,241223,21,9,77,13,9,14,34,7.0,70,...,62,928,318,60,55,57,62,30,54,59
1996,210930,27,0,332,76,72,34,79,71.0,373,...,6,1867,388,65,69,78,77,39,60,76
1997,162993,34,0,268,58,44,61,62,43.0,261,...,8,1639,346,53,47,58,58,61,69,63
1998,254882,18,16,276,49,54,51,70,52.0,300,...,12,1634,339,64,54,62,62,50,47,60

In [8]:
df_o = df.select_dtypes(['object'])
df_o

,name,nationality,club,bp,position,team_&_contract,height,weight,foot,joined,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,E. Palmer-Brown,United States,FK Austria Wien,CB,CB,"FK Austria Wien Jun 30, 2021 On Loan","6'2""",194lbs,Right,"Feb 8, 2018",...,61+2,61+2,61+2,59+2,61+2,67+2,67+2,67+2,61+2,16+2
1,D. Avdijaj,Kosovo,Heart of Midlothian,CAM,LM CAM,Heart of Midlothian 2020 ~ 2020,"5'8""",154lbs,Right,"Jan 20, 2020",...,47+2,47+2,47+2,49+2,45+2,38+2,38+2,38+2,45+2,17+2
2,D. Ochoa,United States,Real Salt Lake,GK,GK,Real Salt Lake 2018 ~ 2020,"6'2""",176lbs,Right,"Nov 28, 2018",...,18+2,18+2,18+2,16+2,16+2,18+2,18+2,18+2,16+2,53+2
3,N. Kenneh,England,Leeds United,CDM,CB CDM RB,Leeds United 2020 ~ 2022,"6'3""",170lbs,Right,"Jan 10, 2020",...,54+2,54+2,54+2,53+2,53+2,54+2,54+2,54+2,53+2,11+2
4,E. Fernandes,Switzerland,1. FSV Mainz 05,CDM,CM CDM,1. FSV Mainz 05 2019 ~ 2023,"6'2""",170lbs,Right,"Jul 1, 2019",...,72+2,72+2,72+2,70+2,69+2,68+2,68+2,68+2,69+2,18+2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,S. Aw,Senegal,Gil Vicente FC,LB,LB,Gil Vicente FC 2020 ~ 2023,"5'8""",143lbs,Left,"Aug 9, 2020",...,52+2,52+2,52+2,58+2,58+2,54+2,54+2,54+2,58+2,15+2
1995,S. Mogi,Japan,Cerezo Osaka,GK,GK,Cerezo Osaka 2017 ~ 2021,"6'5""",176lbs,Right,"Jan 1, 2017",...,23+2,23+2,23+2,20+2,20+2,22+2,22+2,22+2,20+2,58+2
1996,Carles Gil,Spain,New England Revolution,RM,RM CAM CM,New England Revolution 2019 ~ 2024,"5'7""",146lbs,Left,"Feb 13, 2019",...,60+2,60+2,60+2,62+2,57+2,47+2,47+2,47+2,57+2,18+2
1997,J. Perch,England,Mansfield Town,CDM,CDM RB CM,Mansfield Town 2020 ~ 2021,"5'11""",176lbs,Right,"Aug 13, 2020",...,62+1,62+1,62+1,60+2,60+2,63+0,63+0,63+0,60+2,14+2
1998,A. Oeynhausen,Germany,SC Paderborn 07,CAM,CM,SC Paderborn 07 2020 ~ 2022,"5'10""",150lbs,Right,"Jan 1, 2020",...,55+2,55+2,55+2,55+2,54+2,51+2,51+2,51+2,54+2,16+2

In [9]:
df_o.isna().sum()

name                  0
nationality           0
club                  3
bp                    0
position             55
team_&_contract       0
height                0
weight                0
foot                  0
joined                3
loan_date_end      1889
value                 0
wage                  0
release_clause        0
contract              0
w/f                   0
sm                    0
a/w                   8
d/w                   8
ir                    0
hits                  0
ls                    0
st                    0
rs                    0
lw                    0
lf                    0
cf                    0
rf                    0
rw                    0
lam                   0
cam                   0
ram                   0
lm                    0
lcm                   0
cm                    0
rcm                   0
rm                    0
lwb                   0
ldm                   0
cdm                   0
rdm                   0
rwb                   0
lb                    0
lcb                   0
cb                    0
rcb                   0
rb                    0
gk                    0
dtype: int64

In [10]:
df_n.isna().sum()

id                   0
age                  0
growth               0
attacking            0
crossing             0
finishing            0
heading_accuracy     0
short_passing        0
volleys              3
skill                0
dribbling            0
curve                3
fk_accuracy          0
long_passing         0
ball_control         0
movement             0
acceleration         0
sprint_speed         0
agility              3
reactions            0
balance              3
power                0
shot_power           0
jumping              3
stamina              0
strength             0
long_shots           0
mentality            0
aggression           0
interceptions        0
positioning          0
vision               3
penalties            0
composure           50
defending            0
marking              0
standing_tackle      0
sliding_tackle       3
goalkeeping          0
gk_diving            0
gk_handling          0
gk_kicking           0
gk_positioning       0
gk_reflexes          0
total_stats          0
base_stats           0
pac                  0
sho                  0
pas                  0
dri                  0
def                  0
phy                  0
ova                  0
dtype: int64

In [11]:
df=df.drop(['loan_date_end'], axis=1)
df

,id,name,age,nationality,club,bp,position,team_&_contract,height,weight,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,219461,E. Palmer-Brown,23,United States,FK Austria Wien,CB,CB,"FK Austria Wien Jun 30, 2021 On Loan","6'2""",194lbs,...,61+2,61+2,59+2,61+2,67+2,67+2,67+2,61+2,16+2,67
1,221896,D. Avdijaj,22,Kosovo,Heart of Midlothian,CAM,LM CAM,Heart of Midlothian 2020 ~ 2020,"5'8""",154lbs,...,47+2,47+2,49+2,45+2,38+2,38+2,38+2,45+2,17+2,68
2,247428,D. Ochoa,19,United States,Real Salt Lake,GK,GK,Real Salt Lake 2018 ~ 2020,"6'2""",176lbs,...,18+2,18+2,16+2,16+2,18+2,18+2,18+2,16+2,53+2,54
3,255120,N. Kenneh,16,England,Leeds United,CDM,CB CDM RB,Leeds United 2020 ~ 2022,"6'3""",170lbs,...,54+2,54+2,53+2,53+2,54+2,54+2,54+2,53+2,11+2,55
4,215556,E. Fernandes,24,Switzerland,1. FSV Mainz 05,CDM,CM CDM,1. FSV Mainz 05 2019 ~ 2023,"6'2""",170lbs,...,72+2,72+2,70+2,69+2,68+2,68+2,68+2,69+2,18+2,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,239074,S. Aw,21,Senegal,Gil Vicente FC,LB,LB,Gil Vicente FC 2020 ~ 2023,"5'8""",143lbs,...,52+2,52+2,58+2,58+2,54+2,54+2,54+2,58+2,15+2,60
1995,241223,S. Mogi,21,Japan,Cerezo Osaka,GK,GK,Cerezo Osaka 2017 ~ 2021,"6'5""",176lbs,...,23+2,23+2,20+2,20+2,22+2,22+2,22+2,20+2,58+2,59
1996,210930,Carles Gil,27,Spain,New England Revolution,RM,RM CAM CM,New England Revolution 2019 ~ 2024,"5'7""",146lbs,...,60+2,60+2,62+2,57+2,47+2,47+2,47+2,57+2,18+2,76
1997,162993,J. Perch,34,England,Mansfield Town,CDM,CDM RB CM,Mansfield Town 2020 ~ 2021,"5'11""",176lbs,...,62+1,62+1,60+2,60+2,63+0,63+0,63+0,60+2,14+2,63
1998,254882,A. Oeynhausen,18,Germany,SC Paderborn 07,CAM,CM,SC Paderborn 07 2020 ~ 2022,"5'10""",150lbs,...,55+2,55+2,55+2,54+2,51+2,51+2,51+2,54+2,16+2,60

In [12]:
df['club'].value_counts()
df['club'] = df['club'].fillna('unknown_club')
df['position'] = df['position'].fillna('unknown_position')
df['a/w'] = df['a/w'].fillna('unknown_a/w')
df['d/w'] = df['d/w'].fillna('unknown_d/w')

In [13]:
df = df[df['joined'].isna()==False]

In [14]:
df['composure'].value_counts()

58.0    75
65.0    74
64.0    71
59.0    68
55.0    67
        ..
23.0     1
90.0     1
17.0     1
12.0     1
92.0     1
Name: composure, Length: 71, dtype: int64

In [15]:
mean_mslc = df['composure'].mean()
df['composure'] = df['composure'].fillna(mean_mslc)

C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\2018241993.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['composure'] = df['composure'].fillna(mean_mslc)

In [16]:
df_o = df.select_dtypes(['object'])
df_o
df_n = df.select_dtypes(include=[np.number])
df_n

,id,age,growth,attacking,crossing,finishing,heading_accuracy,short_passing,volleys,skill,...,gk_reflexes,total_stats,base_stats,pac,sho,pas,dri,def,phy,ova
0,219461,23,7,230,47,21,62,60,40.0,228,...,9,1551,334,64,30,50,50,66,74,67
1,221896,22,5,298,62,60,44,62,70.0,330,...,8,1726,358,74,67,62,74,24,57,68
2,247428,19,17,48,7,5,11,21,4.0,52,...,55,808,295,56,52,53,55,26,53,54
3,255120,16,23,215,38,31,55,59,32.0,224,...,6,1381,303,58,34,47,52,53,59,55
4,215556,24,5,295,57,59,45,78,56.0,327,...,13,1864,407,67,62,68,70,69,71,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,239074,21,11,197,59,23,42,51,22.0,207,...,13,1443,315,76,28,46,55,53,57,60
1995,241223,21,9,77,13,9,14,34,7.0,70,...,62,928,318,60,55,57,62,30,54,59
1996,210930,27,0,332,76,72,34,79,71.0,373,...,6,1867,388,65,69,78,77,39,60,76
1997,162993,34,0,268,58,44,61,62,43.0,261,...,8,1639,346,53,47,58,58,61,69,63
1998,254882,18,16,276,49,54,51,70,52.0,300,...,12,1634,339,64,54,62,62,50,47,60

In [17]:
df_o.isna().sum()

name               0
nationality        0
club               0
bp                 0
position           0
team_&_contract    0
height             0
weight             0
foot               0
joined             0
value              0
wage               0
release_clause     0
contract           0
w/f                0
sm                 0
a/w                0
d/w                0
ir                 0
hits               0
ls                 0
st                 0
rs                 0
lw                 0
lf                 0
cf                 0
rf                 0
rw                 0
lam                0
cam                0
ram                0
lm                 0
lcm                0
cm                 0
rcm                0
rm                 0
lwb                0
ldm                0
cdm                0
rdm                0
rwb                0
lb                 0
lcb                0
cb                 0
rcb                0
rb                 0
gk                 0
dtype: int64

In [18]:
df_n.isna().sum()

id                  0
age                 0
growth              0
attacking           0
crossing            0
finishing           0
heading_accuracy    0
short_passing       0
volleys             0
skill               0
dribbling           0
curve               0
fk_accuracy         0
long_passing        0
ball_control        0
movement            0
acceleration        0
sprint_speed        0
agility             0
reactions           0
balance             0
power               0
shot_power          0
jumping             0
stamina             0
strength            0
long_shots          0
mentality           0
aggression          0
interceptions       0
positioning         0
vision              0
penalties           0
composure           0
defending           0
marking             0
standing_tackle     0
sliding_tackle      0
goalkeeping         0
gk_diving           0
gk_handling         0
gk_kicking          0
gk_positioning      0
gk_reflexes         0
total_stats         0
base_stats          0
pac                 0
sho                 0
pas                 0
dri                 0
def                 0
phy                 0
ova                 0
dtype: int64

In [19]:
df

,id,name,age,nationality,club,bp,position,team_&_contract,height,weight,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,219461,E. Palmer-Brown,23,United States,FK Austria Wien,CB,CB,"FK Austria Wien Jun 30, 2021 On Loan","6'2""",194lbs,...,61+2,61+2,59+2,61+2,67+2,67+2,67+2,61+2,16+2,67
1,221896,D. Avdijaj,22,Kosovo,Heart of Midlothian,CAM,LM CAM,Heart of Midlothian 2020 ~ 2020,"5'8""",154lbs,...,47+2,47+2,49+2,45+2,38+2,38+2,38+2,45+2,17+2,68
2,247428,D. Ochoa,19,United States,Real Salt Lake,GK,GK,Real Salt Lake 2018 ~ 2020,"6'2""",176lbs,...,18+2,18+2,16+2,16+2,18+2,18+2,18+2,16+2,53+2,54
3,255120,N. Kenneh,16,England,Leeds United,CDM,CB CDM RB,Leeds United 2020 ~ 2022,"6'3""",170lbs,...,54+2,54+2,53+2,53+2,54+2,54+2,54+2,53+2,11+2,55
4,215556,E. Fernandes,24,Switzerland,1. FSV Mainz 05,CDM,CM CDM,1. FSV Mainz 05 2019 ~ 2023,"6'2""",170lbs,...,72+2,72+2,70+2,69+2,68+2,68+2,68+2,69+2,18+2,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,239074,S. Aw,21,Senegal,Gil Vicente FC,LB,LB,Gil Vicente FC 2020 ~ 2023,"5'8""",143lbs,...,52+2,52+2,58+2,58+2,54+2,54+2,54+2,58+2,15+2,60
1995,241223,S. Mogi,21,Japan,Cerezo Osaka,GK,GK,Cerezo Osaka 2017 ~ 2021,"6'5""",176lbs,...,23+2,23+2,20+2,20+2,22+2,22+2,22+2,20+2,58+2,59
1996,210930,Carles Gil,27,Spain,New England Revolution,RM,RM CAM CM,New England Revolution 2019 ~ 2024,"5'7""",146lbs,...,60+2,60+2,62+2,57+2,47+2,47+2,47+2,57+2,18+2,76
1997,162993,J. Perch,34,England,Mansfield Town,CDM,CDM RB CM,Mansfield Town 2020 ~ 2021,"5'11""",176lbs,...,62+1,62+1,60+2,60+2,63+0,63+0,63+0,60+2,14+2,63
1998,254882,A. Oeynhausen,18,Germany,SC Paderborn 07,CAM,CM,SC Paderborn 07 2020 ~ 2022,"5'10""",150lbs,...,55+2,55+2,55+2,54+2,51+2,51+2,51+2,54+2,16+2,60

In [20]:
df.dtypes

id              int64
name           object
age             int64
nationality    object
club           object
                ...
cb             object
rcb            object
rb             object
gk             object
ova             int64
Length: 100, dtype: object

In [21]:
#change the foot frome object to number
df['foot'].unique()

array(['Right', 'Left'], dtype=object)

In [22]:
df['foot'] = np.where(df['foot']=='Right', 1, 0)
df

C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\2271332558.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['foot'] = np.where(df['foot']=='Right', 1, 0)

,id,name,age,nationality,club,bp,position,team_&_contract,height,weight,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,219461,E. Palmer-Brown,23,United States,FK Austria Wien,CB,CB,"FK Austria Wien Jun 30, 2021 On Loan","6'2""",194lbs,...,61+2,61+2,59+2,61+2,67+2,67+2,67+2,61+2,16+2,67
1,221896,D. Avdijaj,22,Kosovo,Heart of Midlothian,CAM,LM CAM,Heart of Midlothian 2020 ~ 2020,"5'8""",154lbs,...,47+2,47+2,49+2,45+2,38+2,38+2,38+2,45+2,17+2,68
2,247428,D. Ochoa,19,United States,Real Salt Lake,GK,GK,Real Salt Lake 2018 ~ 2020,"6'2""",176lbs,...,18+2,18+2,16+2,16+2,18+2,18+2,18+2,16+2,53+2,54
3,255120,N. Kenneh,16,England,Leeds United,CDM,CB CDM RB,Leeds United 2020 ~ 2022,"6'3""",170lbs,...,54+2,54+2,53+2,53+2,54+2,54+2,54+2,53+2,11+2,55
4,215556,E. Fernandes,24,Switzerland,1. FSV Mainz 05,CDM,CM CDM,1. FSV Mainz 05 2019 ~ 2023,"6'2""",170lbs,...,72+2,72+2,70+2,69+2,68+2,68+2,68+2,69+2,18+2,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,239074,S. Aw,21,Senegal,Gil Vicente FC,LB,LB,Gil Vicente FC 2020 ~ 2023,"5'8""",143lbs,...,52+2,52+2,58+2,58+2,54+2,54+2,54+2,58+2,15+2,60
1995,241223,S. Mogi,21,Japan,Cerezo Osaka,GK,GK,Cerezo Osaka 2017 ~ 2021,"6'5""",176lbs,...,23+2,23+2,20+2,20+2,22+2,22+2,22+2,20+2,58+2,59
1996,210930,Carles Gil,27,Spain,New England Revolution,RM,RM CAM CM,New England Revolution 2019 ~ 2024,"5'7""",146lbs,...,60+2,60+2,62+2,57+2,47+2,47+2,47+2,57+2,18+2,76
1997,162993,J. Perch,34,England,Mansfield Town,CDM,CDM RB CM,Mansfield Town 2020 ~ 2021,"5'11""",176lbs,...,62+1,62+1,60+2,60+2,63+0,63+0,63+0,60+2,14+2,63
1998,254882,A. Oeynhausen,18,Germany,SC Paderborn 07,CAM,CM,SC Paderborn 07 2020 ~ 2022,"5'10""",150lbs,...,55+2,55+2,55+2,54+2,51+2,51+2,51+2,54+2,16+2,60

In [23]:
#change the height
to_inches = lambda x: int(x.split("'")[0]) * 12 + int(x.split("'")[1].strip('"'))
df['height'] = df['height'].apply(to_inches)

C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\410887038.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['height'] = df['height'].apply(to_inches)

In [24]:
df['height']

0       74
1       68
2       74
3       75
4       74
        ..
1994    68
1995    77
1996    67
1997    71
1998    70
Name: height, Length: 1996, dtype: int64

In [25]:
df['height'].dtypes

dtype('int64')

In [26]:
#change the weight
# remove the 'lbs' suffix from the 'Weight' column
df['weight'] = df['weight'].str.replace('lbs', '')
# convert the 'Weight' column to numeric type
df['weight'] = pd.to_numeric(df['weight'])
df['weight'].dtypes

C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\546869308.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weight'] = df['weight'].str.replace('lbs', '')
C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\546869308.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weight'] = pd.to_numeric(df['weight'])

dtype('int64')

In [27]:
# joined
df['joined'] = pd.to_datetime(df['joined'],errors='coerce')

C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\3853823689.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['joined'] = pd.to_datetime(df['joined'],errors='coerce')

In [28]:
df['joined'] = df['joined'].dt.year
df['joined'].unique
df

C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\2586990019.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['joined'] = df['joined'].dt.year

,id,name,age,nationality,club,bp,position,team_&_contract,height,weight,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,219461,E. Palmer-Brown,23,United States,FK Austria Wien,CB,CB,"FK Austria Wien Jun 30, 2021 On Loan",74,194,...,61+2,61+2,59+2,61+2,67+2,67+2,67+2,61+2,16+2,67
1,221896,D. Avdijaj,22,Kosovo,Heart of Midlothian,CAM,LM CAM,Heart of Midlothian 2020 ~ 2020,68,154,...,47+2,47+2,49+2,45+2,38+2,38+2,38+2,45+2,17+2,68
2,247428,D. Ochoa,19,United States,Real Salt Lake,GK,GK,Real Salt Lake 2018 ~ 2020,74,176,...,18+2,18+2,16+2,16+2,18+2,18+2,18+2,16+2,53+2,54
3,255120,N. Kenneh,16,England,Leeds United,CDM,CB CDM RB,Leeds United 2020 ~ 2022,75,170,...,54+2,54+2,53+2,53+2,54+2,54+2,54+2,53+2,11+2,55
4,215556,E. Fernandes,24,Switzerland,1. FSV Mainz 05,CDM,CM CDM,1. FSV Mainz 05 2019 ~ 2023,74,170,...,72+2,72+2,70+2,69+2,68+2,68+2,68+2,69+2,18+2,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,239074,S. Aw,21,Senegal,Gil Vicente FC,LB,LB,Gil Vicente FC 2020 ~ 2023,68,143,...,52+2,52+2,58+2,58+2,54+2,54+2,54+2,58+2,15+2,60
1995,241223,S. Mogi,21,Japan,Cerezo Osaka,GK,GK,Cerezo Osaka 2017 ~ 2021,77,176,...,23+2,23+2,20+2,20+2,22+2,22+2,22+2,20+2,58+2,59
1996,210930,Carles Gil,27,Spain,New England Revolution,RM,RM CAM CM,New England Revolution 2019 ~ 2024,67,146,...,60+2,60+2,62+2,57+2,47+2,47+2,47+2,57+2,18+2,76
1997,162993,J. Perch,34,England,Mansfield Town,CDM,CDM RB CM,Mansfield Town 2020 ~ 2021,71,176,...,62+1,62+1,60+2,60+2,63+0,63+0,63+0,60+2,14+2,63
1998,254882,A. Oeynhausen,18,Germany,SC Paderborn 07,CAM,CM,SC Paderborn 07 2020 ~ 2022,70,150,...,55+2,55+2,55+2,54+2,51+2,51+2,51+2,54+2,16+2,60

In [29]:
#value
def convert_currency(value):
    if 'K' in value:
        return float(value.replace('€', '').replace('K', '')) * 1000
    elif 'M' in value:
        return float(value.replace('€', '').replace('M', '')) * 1000000
    else:
        return float(value.replace('€', ''))

# apply the function to the 'Value' column
df['value'] = df['value'].apply(convert_currency)

df

C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\1056220280.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['value'] = df['value'].apply(convert_currency)

,id,name,age,nationality,club,bp,position,team_&_contract,height,weight,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,219461,E. Palmer-Brown,23,United States,FK Austria Wien,CB,CB,"FK Austria Wien Jun 30, 2021 On Loan",74,194,...,61+2,61+2,59+2,61+2,67+2,67+2,67+2,61+2,16+2,67
1,221896,D. Avdijaj,22,Kosovo,Heart of Midlothian,CAM,LM CAM,Heart of Midlothian 2020 ~ 2020,68,154,...,47+2,47+2,49+2,45+2,38+2,38+2,38+2,45+2,17+2,68
2,247428,D. Ochoa,19,United States,Real Salt Lake,GK,GK,Real Salt Lake 2018 ~ 2020,74,176,...,18+2,18+2,16+2,16+2,18+2,18+2,18+2,16+2,53+2,54
3,255120,N. Kenneh,16,England,Leeds United,CDM,CB CDM RB,Leeds United 2020 ~ 2022,75,170,...,54+2,54+2,53+2,53+2,54+2,54+2,54+2,53+2,11+2,55
4,215556,E. Fernandes,24,Switzerland,1. FSV Mainz 05,CDM,CM CDM,1. FSV Mainz 05 2019 ~ 2023,74,170,...,72+2,72+2,70+2,69+2,68+2,68+2,68+2,69+2,18+2,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,239074,S. Aw,21,Senegal,Gil Vicente FC,LB,LB,Gil Vicente FC 2020 ~ 2023,68,143,...,52+2,52+2,58+2,58+2,54+2,54+2,54+2,58+2,15+2,60
1995,241223,S. Mogi,21,Japan,Cerezo Osaka,GK,GK,Cerezo Osaka 2017 ~ 2021,77,176,...,23+2,23+2,20+2,20+2,22+2,22+2,22+2,20+2,58+2,59
1996,210930,Carles Gil,27,Spain,New England Revolution,RM,RM CAM CM,New England Revolution 2019 ~ 2024,67,146,...,60+2,60+2,62+2,57+2,47+2,47+2,47+2,57+2,18+2,76
1997,162993,J. Perch,34,England,Mansfield Town,CDM,CDM RB CM,Mansfield Town 2020 ~ 2021,71,176,...,62+1,62+1,60+2,60+2,63+0,63+0,63+0,60+2,14+2,63
1998,254882,A. Oeynhausen,18,Germany,SC Paderborn 07,CAM,CM,SC Paderborn 07 2020 ~ 2022,70,150,...,55+2,55+2,55+2,54+2,51+2,51+2,51+2,54+2,16+2,60

In [30]:
df['value'].dtypes

dtype('float64')

In [31]:
#wage
def convert_currency(wage):
    if 'K' in wage:
        return float(wage.replace('€', '').replace('K', '')) * 1000
    else:
        return float(wage.replace('€', ''))

# apply the function to the 'wage' column
df['wage'] = df['wage'].apply(convert_currency)

df

C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\1475376895.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wage'] = df['wage'].apply(convert_currency)

,id,name,age,nationality,club,bp,position,team_&_contract,height,weight,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,219461,E. Palmer-Brown,23,United States,FK Austria Wien,CB,CB,"FK Austria Wien Jun 30, 2021 On Loan",74,194,...,61+2,61+2,59+2,61+2,67+2,67+2,67+2,61+2,16+2,67
1,221896,D. Avdijaj,22,Kosovo,Heart of Midlothian,CAM,LM CAM,Heart of Midlothian 2020 ~ 2020,68,154,...,47+2,47+2,49+2,45+2,38+2,38+2,38+2,45+2,17+2,68
2,247428,D. Ochoa,19,United States,Real Salt Lake,GK,GK,Real Salt Lake 2018 ~ 2020,74,176,...,18+2,18+2,16+2,16+2,18+2,18+2,18+2,16+2,53+2,54
3,255120,N. Kenneh,16,England,Leeds United,CDM,CB CDM RB,Leeds United 2020 ~ 2022,75,170,...,54+2,54+2,53+2,53+2,54+2,54+2,54+2,53+2,11+2,55
4,215556,E. Fernandes,24,Switzerland,1. FSV Mainz 05,CDM,CM CDM,1. FSV Mainz 05 2019 ~ 2023,74,170,...,72+2,72+2,70+2,69+2,68+2,68+2,68+2,69+2,18+2,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,239074,S. Aw,21,Senegal,Gil Vicente FC,LB,LB,Gil Vicente FC 2020 ~ 2023,68,143,...,52+2,52+2,58+2,58+2,54+2,54+2,54+2,58+2,15+2,60
1995,241223,S. Mogi,21,Japan,Cerezo Osaka,GK,GK,Cerezo Osaka 2017 ~ 2021,77,176,...,23+2,23+2,20+2,20+2,22+2,22+2,22+2,20+2,58+2,59
1996,210930,Carles Gil,27,Spain,New England Revolution,RM,RM CAM CM,New England Revolution 2019 ~ 2024,67,146,...,60+2,60+2,62+2,57+2,47+2,47+2,47+2,57+2,18+2,76
1997,162993,J. Perch,34,England,Mansfield Town,CDM,CDM RB CM,Mansfield Town 2020 ~ 2021,71,176,...,62+1,62+1,60+2,60+2,63+0,63+0,63+0,60+2,14+2,63
1998,254882,A. Oeynhausen,18,Germany,SC Paderborn 07,CAM,CM,SC Paderborn 07 2020 ~ 2022,70,150,...,55+2,55+2,55+2,54+2,51+2,51+2,51+2,54+2,16+2,60

In [32]:
# hits
def convert_currency(hits):
    if 'K' in hits:
        return float(hits.replace('K', '')) * 1000
    else:
        return float()

# apply the function to the 'wage' column
df['hits'] = df['hits'].apply(convert_currency)

C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\2373976793.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hits'] = df['hits'].apply(convert_currency)

In [33]:
# release_clause
def convert_currency(release_clause):
    if 'K' in release_clause:
        return float(release_clause.replace('€', '').replace('K', '')) * 1000
    elif 'M' in release_clause:
        return float(release_clause.replace('€', '').replace('M', '')) * 1000000
    else:
        return float(release_clause.replace('€', ''))

# apply the function to the 'Value' column
df['release_clause'] = df['release_clause'].apply(convert_currency)

df

C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\2560087850.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['release_clause'] = df['release_clause'].apply(convert_currency)

,id,name,age,nationality,club,bp,position,team_&_contract,height,weight,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,219461,E. Palmer-Brown,23,United States,FK Austria Wien,CB,CB,"FK Austria Wien Jun 30, 2021 On Loan",74,194,...,61+2,61+2,59+2,61+2,67+2,67+2,67+2,61+2,16+2,67
1,221896,D. Avdijaj,22,Kosovo,Heart of Midlothian,CAM,LM CAM,Heart of Midlothian 2020 ~ 2020,68,154,...,47+2,47+2,49+2,45+2,38+2,38+2,38+2,45+2,17+2,68
2,247428,D. Ochoa,19,United States,Real Salt Lake,GK,GK,Real Salt Lake 2018 ~ 2020,74,176,...,18+2,18+2,16+2,16+2,18+2,18+2,18+2,16+2,53+2,54
3,255120,N. Kenneh,16,England,Leeds United,CDM,CB CDM RB,Leeds United 2020 ~ 2022,75,170,...,54+2,54+2,53+2,53+2,54+2,54+2,54+2,53+2,11+2,55
4,215556,E. Fernandes,24,Switzerland,1. FSV Mainz 05,CDM,CM CDM,1. FSV Mainz 05 2019 ~ 2023,74,170,...,72+2,72+2,70+2,69+2,68+2,68+2,68+2,69+2,18+2,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,239074,S. Aw,21,Senegal,Gil Vicente FC,LB,LB,Gil Vicente FC 2020 ~ 2023,68,143,...,52+2,52+2,58+2,58+2,54+2,54+2,54+2,58+2,15+2,60
1995,241223,S. Mogi,21,Japan,Cerezo Osaka,GK,GK,Cerezo Osaka 2017 ~ 2021,77,176,...,23+2,23+2,20+2,20+2,22+2,22+2,22+2,20+2,58+2,59
1996,210930,Carles Gil,27,Spain,New England Revolution,RM,RM CAM CM,New England Revolution 2019 ~ 2024,67,146,...,60+2,60+2,62+2,57+2,47+2,47+2,47+2,57+2,18+2,76
1997,162993,J. Perch,34,England,Mansfield Town,CDM,CDM RB CM,Mansfield Town 2020 ~ 2021,71,176,...,62+1,62+1,60+2,60+2,63+0,63+0,63+0,60+2,14+2,63
1998,254882,A. Oeynhausen,18,Germany,SC Paderborn 07,CAM,CM,SC Paderborn 07 2020 ~ 2022,70,150,...,55+2,55+2,55+2,54+2,51+2,51+2,51+2,54+2,16+2,60

In [34]:
# ★
df['ir']=df['ir'].str.replace('★','')
df['w/f']=df['w/f'].str.replace('★','')
df['sm']=df['sm'].str.replace('★','')

C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\2604633315.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ir']=df['ir'].str.replace('★','')
C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\2604633315.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['w/f']=df['w/f'].str.replace('★','')
C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\2604633315.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sm']=df['sm'].str.replace('★','')

In [35]:
df['ir'] = pd.to_numeric(df['ir'])
df['w/f'] = pd.to_numeric(df['w/f'])
df['sm'] = pd.to_numeric(df['sm'])
df['w/f'].dtypes

C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\2731780057.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ir'] = pd.to_numeric(df['ir'])
C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\2731780057.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['w/f'] = pd.to_numeric(df['w/f'])
C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\2731780057.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sm'] = pd.to_numeric(df['sm'])

dtype('int64')

In [36]:
df_to_clean=['ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf',
       'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm',
       'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb', 'gk']

In [37]:
for col in df_to_clean:
    df[col] = df[col].str.split('+').str[0]
    df[col] = df[col].str.split('-').str[0]

C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\1687911463.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].str.split('+').str[0]
C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\1687911463.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].str.split('-').str[0]

In [38]:
for col in df_to_clean:
    df[col] = pd.to_numeric(df[col])

C:\Users\jiaxing\AppData\Local\Temp\ipykernel_12724\2761395429.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = pd.to_numeric(df[col])

In [39]:
df

,id,name,age,nationality,club,bp,position,team_&_contract,height,weight,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,219461,E. Palmer-Brown,23,United States,FK Austria Wien,CB,CB,"FK Austria Wien Jun 30, 2021 On Loan",74,194,...,61,61,59,61,67,67,67,61,16,67
1,221896,D. Avdijaj,22,Kosovo,Heart of Midlothian,CAM,LM CAM,Heart of Midlothian 2020 ~ 2020,68,154,...,47,47,49,45,38,38,38,45,17,68
2,247428,D. Ochoa,19,United States,Real Salt Lake,GK,GK,Real Salt Lake 2018 ~ 2020,74,176,...,18,18,16,16,18,18,18,16,53,54
3,255120,N. Kenneh,16,England,Leeds United,CDM,CB CDM RB,Leeds United 2020 ~ 2022,75,170,...,54,54,53,53,54,54,54,53,11,55
4,215556,E. Fernandes,24,Switzerland,1. FSV Mainz 05,CDM,CM CDM,1. FSV Mainz 05 2019 ~ 2023,74,170,...,72,72,70,69,68,68,68,69,18,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,239074,S. Aw,21,Senegal,Gil Vicente FC,LB,LB,Gil Vicente FC 2020 ~ 2023,68,143,...,52,52,58,58,54,54,54,58,15,60
1995,241223,S. Mogi,21,Japan,Cerezo Osaka,GK,GK,Cerezo Osaka 2017 ~ 2021,77,176,...,23,23,20,20,22,22,22,20,58,59
1996,210930,Carles Gil,27,Spain,New England Revolution,RM,RM CAM CM,New England Revolution 2019 ~ 2024,67,146,...,60,60,62,57,47,47,47,57,18,76
1997,162993,J. Perch,34,England,Mansfield Town,CDM,CDM RB CM,Mansfield Town 2020 ~ 2021,71,176,...,62,62,60,60,63,63,63,60,14,63
1998,254882,A. Oeynhausen,18,Germany,SC Paderborn 07,CAM,CM,SC Paderborn 07 2020 ~ 2022,70,150,...,55,55,55,54,51,51,51,54,16,60

In [40]:
df['nationality'].unique()

array(['United States', 'Kosovo', 'England', 'Switzerland', 'Nigeria',
       'Peru', 'Argentina', 'Colombia', 'Brazil', 'Republic of Ireland',
       'Japan', 'Belgium', 'France', 'Poland', 'Korea Republic',
       'Germany', 'Spain', 'Ivory Coast', 'Denmark', 'Australia',
       'Sweden', 'Netherlands', 'Senegal', 'Italy', 'Venezuela', 'Togo',
       'Portugal', 'Romania', 'Jamaica', 'Ghana', 'Uruguay', 'Bulgaria',
       'Iran', 'Turkey', 'New Zealand', 'Norway', 'Slovenia',
       'Kazakhstan', 'Canada', 'Ecuador', 'Paraguay', 'Chile', 'China PR',
       'Scotland', 'Serbia', 'Honduras', 'Austria', 'North Macedonia',
       'Morocco', 'Israel', 'Bolivia', 'Georgia', 'Northern Ireland',
       'Saudi Arabia', 'Gambia', 'Mali', 'Greece', 'Czech Republic',
       'Mexico', 'Latvia', 'Russia', 'Montenegro', 'Finland', 'Panama',
       'Costa Rica', 'Ukraine', 'Bosnia Herzegovina',
       'Trinidad &amp; Tobago', 'Cameroon', 'Croatia', 'Guinea Bissau',
       'Wales', 'India', 'DR Congo', 'Algeria', 'Thailand', 'Burundi',
       'Slovakia', 'Tunisia', 'Zambia', 'Guyana', 'Congo',
       'United Arab Emirates', 'South Africa', 'Dominican Republic',
       'Central African Republic', 'Cape Verde', 'Iceland', 'Egypt',
       'Liberia', 'Hungary', 'Zimbabwe', 'Albania', 'Angola', 'Uganda',
       'Cuba', 'Gabon', 'Uzbekistan', 'Haiti', 'Syria', 'Burkina Faso',
       'Guinea', 'Sierra Leone', 'Niger', 'Eritrea', 'Jordan', 'Curacao',
       'Armenia', 'Mauritania', 'Luxembourg', 'Grenada', 'Comoros'],
      dtype=object)

In [41]:
df['club'].unique()

array(['FK Austria Wien', 'Heart of Midlothian', 'Real Salt Lake',
       'Leeds United', '1. FSV Mainz 05', 'Viking FK', 'Alianza Lima',
       'Boca Juniors', 'Rionegro Águilas', 'Philadelphia Union',
       'New England Revolution', 'Burnley', 'Gamba Osaka',
       'Royal Antwerp FC', 'Doncaster Rovers', 'Stade Malherbe Caen',
       'FC Augsburg', 'Ulsan Hyundai FC', 'Türkgücü München',
       'CD Tenerife', "Côte d'Ivoire", 'FC Midtjylland',
       'Wellington Phoenix', 'ADO Den Haag', 'SV Werder Bremen',
       'Hammarby IF', 'Sparta Rotterdam', 'Montreal Impact',
       'Atlanta United', 'Hellas Verona', 'Hertha BSC', 'Port Vale',
       'Kaizer Chiefs', 'SD Ponferradina', 'Wigan Athletic',
       'Sanfrecce Hiroshima', 'MKE Ankaragücü', 'Trapani',
       'Estudiantes de Mérida', 'Olympique Lyonnais', 'Cheltenham Town',
       'Sporting Kansas City', 'Newcastle United',
       'Hebei China Fortune FC', 'Deportivo Cali', 'FC Argeș', 'Watford',
       'Reading', 'Manchester United', 'FSV Zwickau', 'Cerezo Osaka',
       'Fortuna Düsseldorf', 'Albacete BP', 'Nacional de Montevideo',
       'Wolverhampton Wanderers', 'Club Atlético Huracán',
       'Carlisle United', 'Fiorentina', 'Sporting de Charleroi',
       'SL Benfica', 'Gil Vicente FC', 'Medipol Başakşehir FK',
       'AD Alcorcón', 'Minnesota United FC', 'FC Hansa Rostock',
       'Gillingham', 'San Lorenzo de Almagro', 'Al Faisaly', 'Brøndby IF',
       'AFC Wimbledon', 'San Jose Earthquakes', 'FC Nantes',
       'Birmingham City', 'Santa Clara', 'Benevento', 'Toronto FC',
       'Crawley Town', 'Lech Poznań', 'Borussia Dortmund', 'AZ Alkmaar',
       'LASK Linz', 'FC Juárez', 'Urawa Red Diamonds', 'Sport Huancayo',
       'SD Eibar', 'Guangzhou Evergrande Taobao FC', 'Ipswich Town',
       'Kasimpaşa SK', 'Nagoya Grampus', 'Blackpool', 'Livingston FC',
       'Orlando City SC', 'CD Nacional', 'Atlético Madrid', 'Romania',
       'Clube Sport Marítimo', 'Olimpia Asunción', 'Macarthur FC',
       'Sassuolo', 'Argentinos Juniors', 'Wycombe Wanderers',
       'Salford City', 'FC Lorient', 'FC Dallas', 'Racing Club',
       'Incheon United FC', 'Santos', 'IFK Norrköping',
       'Rodez Aveyron Football', 'Bournemouth', 'Holstein Kiel',
       'Venezuela', 'Pogoń Szczecin', 'SD Aucas', 'DC United',
       'Colchester United', 'Portimonense SC', 'FC Schalke 04',
       'Club Atlético Talleres', 'Servette FC', 'Huddersfield Town',
       'Atiker Konyaspor', 'SønderjyskE', 'Dijon FCO', 'Inter',
       'Chapecoense', 'Bolton Wanderers', 'Liverpool Fútbol Club',
       'Juventus', 'River Plate', 'Daegu FC', 'Parma', 'SC Freiburg',
       'China PR', 'Rio Ave FC', 'Stade Rennais FC', 'Millonarios FC',
       'Coventry City', 'Udinese', 'Wolfsberger AC',
       'Olympique de Marseille', 'Southampton', 'FC Anzhi Makhachkala',
       'Getafe CF', 'AJ Auxerre', 'Tromsø IL', 'Roma', 'Stabæk Fotball',
       'Stade Brestois 29', 'Le Havre AC', 'Forest Green Rovers',
       'Olympiacos CFP', 'FC Viitorul', 'AC Monza', 'Aston Villa',
       'Bahia', 'FC Luzern', 'Manchester City', 'Club Bolívar',
       'SC Braga', 'Real Zaragoza', 'Sevilla FC', '1. FC Union Berlin',
       'Amiens SC', '1. FC Kaiserslautern', 'Raków Częstochowa',
       'Audax Italiano', 'Milan', 'KAA Gent', 'New York City FC',
       'CD Palestino', 'Rosario Central', 'Universidad Católica',
       'Scunthorpe United', 'Academica Clinceni', 'Pordenone', 'Livorno',
       'Ettifaq FC', 'Everton', 'Seongnam FC', 'KAS Eupen',
       'Toulouse Football Club', 'FC Barcelona', 'Club Necaxa',
       'Ross County FC', 'São Paulo', 'Paris Saint-Germain',
       '1. FC Magdeburg', 'Newport County', 'CD Leganés', 'FC Basel 1893',
       'Liverpool', 'BB Erzurumspor', 'Alanyaspor',
       'Centro Atlético Fénix', 'Western United FC', 'SV Meppen',
       'Arsenal', 'Universidad de Chile', 'Viktoria Köln',
       'Athletic Club de Bilbao', 'Club León', 'Cruz Azul', 'Fortaleza',
       'Blackburn Rovers', 'Independiente', 'VfL Wolfsburg', 'Sampdoria',
       'Delfín SC', 'Southend United', 'Lecce', 'Burton Albion',
       'Al Ahli', "St. Patrick's Athletic", 'Sagan Tosu', 'Hibernian',
       'Gangwon FC', 'Peñarol', 'Legia Warszawa', 'Derby County',
       'Girona FC', 'Chicago Fire', 'Barnsley', 'Colo-Colo', 'Genoa',
       'VfB Stuttgart', 'SpVgg Unterhaching', 'Neuchâtel Xamax',
       'Real Valladolid CF', '1. FC Nürnberg', 'TSG 1899 Hoffenheim',
       'FC Nordsjælland', 'Famalicão', 'Montpellier HSC', 'Monterrey',
       'Stal Mielec', 'Real Sociedad', 'Brazil', 'Club Atlético Tigre',
       'Chamois Niortais Football Club', 'Ecuador', 'Arsenal de Sarandí',
       'Sportivo Luqueño', 'CA Osasuna', 'Oud-Heverlee Leuven',
       'Club Libertad', 'Club Brugge KV', 'KV Mechelen', 'Sivasspor',
       'Lincoln City', 'FC Chambly Oise', 'Al Hilal', 'Oceânico FC',
       'Lechia Gdańsk', 'CD Lugo', 'Sheffield Wednesday', 'Kayserispor',
       'Kashima Antlers', 'Aragua FC', 'FC Girondins de Bordeaux', 'PSV',
       'Bristol City', 'Karlsruher SC', 'Partick Thistle FC',
       'Tigres U.A.N.L.', 'Dynamo Kyiv', 'Millwall', 'Luton Town',
       'Lokomotiv Moscow', 'Waterford FC', 'AEK Athens',
       'La Berrichonne de Châteauroux', '1. FC Saarbrücken', 'AC Ajaccio',
       'VfL Osnabrück', 'Lillestrøm SK', 'RCD Espanyol',
       'Shimizu S-Pulse', 'SK Sturm Graz', 'Middlesbrough',
       'HJK Helsinki', 'Napoli', 'Vissel Kobe', 'Feyenoord',
       'Shakhtar Donetsk', 'Club Tijuana', 'Exeter City',
       'Tranmere Rovers', 'Columbus Crew SC', 'Brentford',
       'Bayern München II', 'Vancouver Whitecaps FC', 'Crotone',
       '1. FC Heidenheim 1846', 'Moreirense FC', 'Grimsby Town',
       'Trabzonspor', 'Coritiba', '1. FC Köln', 'Oxford United',
       'Clermont Foot 63', 'Club Atlético Grau', 'Slovenia',
       'Podbeskidzie Bielsko-Biała', 'Stevenage', 'unknown_club',
       'FC Groningen', 'Motherwell', 'Hatayspor', 'Djurgårdens IF',
       'Kristiansund BK', 'Tottenham Hotspur', 'SG Dynamo Dresden',
       'Al Shabab', 'Deportivo de La Coruña', 'Dinamo Zagreb',
       'La Equidad', 'India', 'Western Sydney Wanderers', 'Granada CF',
       'Pachuca', 'DSC Arminia Bielefeld', 'FC Paços de Ferreira',
       'SV Wehen Wiesbaden', 'FC St. Gallen', 'UD Logroñés',
       'Racing Club de Lens', 'SD Huesca', 'Tianjin TEDA FC', 'Al Fateh',
       'Os Belenenses', 'Politehnica Iaşi', 'Leones Negros de la UdeG',
       'IK Start', 'ESTAC Troyes', 'SpVgg Greuther Fürth',
       'Club Atlético Lanús', 'AS Monaco', 'Al Ittihad',
       'Crewe Alexandra', 'Real Betis', 'Al Nassr', 'Al Taawoun',
       'Atlético Clube Goianiense', 'Borussia Mönchengladbach',
       'Kawasaki Frontale', 'Melgar FBC', 'Bologna', 'Panathinaikos FC',
       'Valencia CF', 'Deportivo Toluca', 'River Plate Montevideo',
       'CD Numancia', 'RC Strasbourg Alsace', 'Perth Glory',
       'Real Sporting de Gijón', 'Elche CF', 'Stoke City', 'LOSC Lille',
       'Eintracht Braunschweig', 'West Ham United', 'Çaykur Rizespor',
       'Real Madrid', 'Shamrock Rovers', 'Vitória Guimarães',
       'UD Almería', 'Matsumoto Yamaga', 'Vasco da Gama',
       'Extremadura UD', 'Walsall', 'Eintracht Frankfurt', 'Dundalk',
       'Yokohama FC', 'FC Lausanne-Sport', 'Deportivo Alavés',
       'Yeni Malatyaspor', 'Inter Miami', 'SC Verl', 'Gençlerbirliği SK',
       'Pisa', 'SK Rapid Wien', 'VVV-Venlo', 'Jeonbuk Hyundai Motors',
       'FC Botoşani', 'Vitesse', 'Querétaro', 'Perugia', 'FC Porto',
       'Qingdao Huanghai F.C.', 'FC Metz', 'FC Utrecht', 'Norwich City',
       'Puebla FC', 'Śląsk Wrocław', 'Chievo Verona', 'Grêmio',
       'Defensa y Justicia', 'Club Guaraní', 'Fulham', 'Real Oviedo',
       'Queens Park Rangers', 'Al Wehda', 'Kilmarnock', 'Al Fayha',
       'AC Mineros de Guayana', 'Al Ain FC', 'Harrogate Town',
       'RKC Waalwijk', 'CF Fuenlabrada', 'Lazio', 'Cusco FC',
       'Sporting CP', 'Caracas FC', 'FC Zürich', 'FC Bayern München',
       'RC Celta', 'Internacional', 'Hull City', 'Cardiff City',
       'Sandefjord Fotball', 'Royal Excel Mouscron', 'Fleetwood Town',
       'Beijing Sinobo Guoan FC', 'Seattle Sounders FC', 'Oita Trinita',
       'Brescia', 'Barrow', 'CD Tondela', 'Milton Keynes Dons',
       'Leyton Orient', 'Plymouth Argyle', 'Östersunds FK', 'Bohemian FC',
       'Fenerbahçe SK', 'Varbergs BoIS', 'Sparta Praha', 'Wuhan Zall',
       'SC Paderborn 07', 'Godoy Cruz', 'Cittadella', 'Alianza Petrolera',
       'SV Mattersburg', 'SC Preußen Münster', 'PEC Zwolle',
       'Piast Gliwice', 'Brighton & Hove Albion', 'Sint-Truidense VV',
       'Atlético Nacional', 'Rochdale', 'Odds BK', 'River Plate Asunción',
       'Dalian YiFang FC', 'Portsmouth', 'SSV Jahn Regensburg',
       'Antalyaspor', 'Zagłębie Lubin', 'Angers SCO', 'Cagliari',
       'RB Leipzig', 'RSC Anderlecht', 'Orlando Pirates', 'Sweden',
       'Bayer 04 Leverkusen', 'Melbourne City FC', 'Gaz Metan Mediaş',
       'Viktoria Plzeň', 'St. Mirren', 'Galatasaray SK', 'KV Oostende',
       'Aberdeen', 'Nashville SC', 'Spezia',
       'Shanghai Greenland Shenhua FC', 'Levante UD', 'Lyngby BK',
       'Club Atlético Aldosivi', 'SV Ried', 'Wisła Kraków',
       'Melbourne Victory', 'Mjøndalen IF', 'Uruguay', 'FC Sion',
       'SV Darmstadt 98', 'UD Las Palmas', 'Vitória de Setúbal',
       'Fortuna Sittard', 'SK Brann', 'Guangzhou R&F FC', 'Fluminense',
       'MSV Duisburg', 'IFK Göteborg', "Newell's Old Boys",
       'TSV 1860 München', 'FC Ingolstadt 04', 'FCSB (Steaua)',
       'Preston North End', 'Shandong Luneng TaiShan FC', 'FC Vaduz',
       'Deportivo Binacional', 'Nacional Potosí', 'Cádiz CF',
       'Dinamo Moscow', 'C.D. Castellón', 'VfR Aalen', 'Sangju Sangmu FC',
       'Junior FC', 'Bolivia', 'VfL Bochum 1848', 'SV Sandhausen',
       'Egypt', 'AS Saint-Étienne', 'Ajax', 'Estudiantes de La Plata',
       'Accrington Stanley', 'Górnik Zabrze', 'Paris FC',
       'Gimnàstic de Tarragona', 'Hungary', 'KV Kortrijk',
       'Los Angeles FC', 'Odense Boldklub', 'Tiburones Rojos de Veracruz',
       'Universidad Católica del Ecuador', 'FC Emmen', 'Rosenborg BK',
       'FC Tokyo', 'Sunderland', 'FC Sochaux-Montbéliard', 'Swindon Town',
       'Celtic', 'FC St. Pauli', 'Valenciennes FC', 'Aalborg BK',
       'En Avant de Guingamp', 'Envigado FC', 'Beşiktaş JK', 'Portugal',
       'U.N.A.M.', 'Pau FC', 'Aalesunds FK', 'Grenoble Foot 38',
       'América de Cali', 'Al Qadisiyah', 'Rayo Vallecano',
       'Heracles Almelo', 'Peru', 'Morecambe', 'Spartak Moscow',
       'Club Atlas', 'Falkenbergs FF', 'Novara', 'Al Raed', 'Dundee FC',
       'Villarreal CF', 'CE Sabadell FC', 'Charlton Athletic',
       'FC Hermannstadt', 'Club Plaza Colonia', 'Mansfield Town',
       'SK Slavia Praha', 'LKS Lodz', 'Hamburger SV', 'Vélez Sarsfield',
       'Club Atlético Banfield', 'FC Seoul', 'FC København', 'FC Twente',
       'Emelec', 'Vegalta Sendai', 'Rotherham United', 'Finn Harps',
       'Hallescher FC', 'SPAL', 'Criciúma', 'Atlético Huila',
       'Jagiellonia Białystok', 'Atlético de San Luis', 'Dundee United',
       'BSC Young Boys', 'SKN St. Pölten', 'FK Haugesund', 'Empoli',
       'Northampton Town', 'CD Huachipato', 'San Luis de Quillota',
       'Gazişehir Gaziantep F.K.', 'Tours FC', 'Korona Kielce',
       'Waasland-Beveren', 'Torino', 'Sheffield United', 'RCD Mallorca',
       'Örebro SK', 'Wisła Płock', 'Astra Giurgiu', 'Club Atlético Colón',
       'Iceland', 'FC Cartagena', 'West Bromwich Albion', 'Russia',
       'FC Lugano', 'PFC CSKA Moscow', 'Suwon Samsung Bluewings',
       'LDU Quito', 'Rangers FC', 'Standard de Liège',
       'FC Red Bull Salzburg', 'Hannover 96', 'Málaga CF',
       'Dinamo Bucureşti', 'Cambridge United', 'FC Cincinnati',
       'Swansea City', 'Cracovia', 'Bulgaria', 'Bradford City',
       'TSV Hartberg', 'Hamilton Academical FC', 'Kashiwa Reysol',
       'Beerschot AC', 'IK Sirius', 'Fatih Karagümrük S.K.',
       'Denizlispor', 'Sligo Rovers', 'Shrewsbury', 'Sol de América',
       'FC Würzburger Kickers', 'FC Krasnodar', 'Pescara', 'IF Elfsborg',
       'Nottingham Forest', 'FK Bodø/Glimt', 'OGC Nice', 'FC Thun',
       'Cameroon', 'WSG Tirol', 'Chelsea', 'PAOK',
       'Club Athletico Paranaense', 'Universitatea Craiova', 'Australia',
       'Brisbane Roar', 'Nîmes Olympique', 'Randers FC',
       'Pohang Steelers', 'Vejle Boldklub', 'New York Red Bulls',
       'Mjällby AIF', 'Shonan Bellmare', 'CD Mirandés', 'Boavista FC',
       'Atalanta', 'US Salernitana 1919', 'Houston Dynamo', 'Flamengo',
       'Independiente Medellín', 'FC Ural Yekaterinburg',
       'AS Nancy Lorraine', 'Göztepe SK', 'Santos Laguna',
       'Peterborough United', 'Chemnitzer FC', 'US Cremonese',
       'Deportivo Pasto', 'USL Dunkerque', 'Guadalajara', 'CFR Cluj',
       'VfB Lübeck', 'Malmö FF', 'CD Antofagasta', 'Racing Santander',
       'LA Galaxy', 'Paraguay', 'Unión Española', 'Atlético Mineiro',
       'Nacional Asunción', 'Poland', 'SV Zulte-Waregem', 'Ascoli',
       'KSV Cercle Brugge', 'Shijiazhuang Ever Bright F.C.',
       'Strømsgodset IF', 'SV Waldhof Mannheim', 'Mexico',
       'Adelaide United', 'KRC Genk', 'Vålerenga Fotball',
       'Crystal Palace', 'Palmeiras', 'AC Horsens', 'Kalmar FF',
       'Mazatlán FC', 'Padova', 'Al Orobah', 'Portland Timbers',
       'Chindia Târgovişte', 'Changchun Yatai FC', 'Patriotas Boyacá FC'],
      dtype=object)

In [42]:
df['position'].unique()

array(['CB', 'LM CAM', 'GK', 'CB CDM RB', 'CM CDM', 'RW', 'RB', 'ST',
       'CAM CM LM RM', 'unknown_position', 'CAM', 'LB LM', 'CAM CF ST',
       'CDM CM', 'LB RB', 'RW LW', 'CM CAM', 'RB CB RWB', 'CAM LM RM',
       'LM LW', 'CM LM', 'LB', 'CM CDM CAM', 'CDM', 'RW RM', 'RM LM',
       'RM LM CF', 'ST CAM', 'CM', 'RM', 'CAM CM LM', 'RB ST CB',
       'LW RW CAM', 'LM', 'LM LB', 'RB LWB', 'LB LM RM', 'RM LM CAM',
       'LW RW', 'CDM CM RM', 'LW LM', 'LM RM', 'RW LW ST', 'CB LB',
       'CB CDM', 'CDM CB CM', 'RM CF ST', 'RB RWB', 'CAM CF', 'ST LW',
       'LW CAM LM', 'CAM CM', 'CM RM', 'LB LWB', 'ST LM', 'LB CB',
       'CDM RB LB', 'RB RM', 'LM ST', 'RB LB CB', 'LB LM LWB',
       'CM CAM CDM', 'RW CAM', 'CDM LB LM', 'ST RW', 'RW ST', 'RB CB',
       'LM LW RM', 'ST CF', 'RW CAM LW', 'RW RB RM', 'CF CAM', 'CDM LB',
       'CM LW', 'RM LM CM', 'RM RW', 'CAM RM RB', 'RM ST', 'CM ST',
       'CDM RB CM', 'RWB RW', 'LM RM ST', 'CB RB LB', 'LM RM CAM',
       'RM CAM LM', 'RW RM CF', 'RW LM ST', 'CF CM', 'ST CM CAM',
       'CAM ST CM', 'LM LWB CB', 'LW ST', 'CM CB CDM', 'RB LB', 'CF ST',
       'RWB RM RB', 'CB RB CM', 'CM CAM RM', 'RWB', 'CB CDM CM',
       'CDM CM CAM', 'LWB', 'RB RM LM', 'CB RB', 'RB CM CDM', 'RB RWB RM',
       'CM LB', 'CM CAM LM', 'CDM CAM', 'CDM CB RB', 'RM ST LM', 'CAM LM',
       'LB CB LM', 'CAM RW', 'LW ST RW', 'CAM RM', 'LM CAM ST',
       'CAM CM CF', 'LB LWB LM', 'LW', 'CM LM CDM', 'CAM RM ST',
       'CDM CM RB', 'ST LW RW', 'RM CM', 'CDM CM CB', 'LW CAM',
       'ST LM RM', 'CDM CB', 'CDM CM LM', 'ST CF LW', 'CM CAM LW',
       'CAM CM RM', 'LWB CB', 'ST LM LW', 'RB RM RW', 'ST RM',
       'ST RM RWB', 'RM RB', 'LW CM', 'LW ST LM', 'ST RW LW', 'CAM CF CM',
       'RM LM RB', 'LW LB', 'ST RM LM', 'LM CAM RM', 'ST LW LM',
       'CM RM ST', 'LW RW CM', 'RM CF', 'ST LW LWB', 'LWB LM', 'CB CM',
       'RM RWB', 'LB LM LW', 'RM LM RW LW', 'RB CM RM', 'RM RB LM',
       'CAM CM CDM', 'RB RM CB', 'RW LW CAM', 'CAM LM CM', 'RM LM ST',
       'CM RM CAM', 'CAM RM LM', 'RB RM LB', 'CDM CAM LM', 'RB RM CM',
       'LW CF', 'CDM RB', 'RWB RB', 'RM CAM', 'CM RB', 'RM CAM CM',
       'RWB LWB', 'LW RW LM', 'RW RM LW', 'CB CDM LB', 'RB RWB RW',
       'LW RW ST', 'LM RM LW', 'CDM CAM CM', 'RW ST LW', 'LW RW RM',
       'LW RM RW', 'RM LM RW ST', 'LM CM', 'LB LWB RB', 'RM LWB',
       'RM LM RWB', 'CAM LM CF', 'CF ST CAM', 'RW LWB LW', 'CM LM LB',
       'LM RW', 'LM ST RW', 'RWB RB RM', 'LM CAM LW', 'LB CDM',
       'RM LB RB', 'CAM ST LM', 'LM RM LWB', 'RB CB LB', 'CAM ST',
       'RM LM RW', 'LB CM', 'CB LB LWB', 'LM ST LB', 'CB LWB', 'RW LW RM',
       'CAM RW LW', 'CB ST', 'LM LW CAM', 'RM CM CAM', 'RB CDM',
       'RM RW CAM', 'RWB LM', 'LB CB LWB', 'RB RWB CM', 'LB CDM CM CB',
       'RB LB CDM', 'CF ST LW', 'LW RW CF', 'CM CDM RM', 'LM RM CF',
       'LB LM CB', 'RB RW', 'RM CM ST', 'LM RM CB', 'ST LM RB',
       'CAM CM LW', 'CM LW ST', 'RWB RM', 'LM ST RM', 'RW LW CF',
       'CB RB RWB', 'LWB LB', 'LWB LM LB', 'CM CAM RB', 'ST CAM CM',
       'CM CAM LB', 'CAM LW ST', 'CAM ST LW', 'CM RM LM', 'LB LM RB',
       'LM CAM LB', 'LM CF', 'RW CAM ST', 'RW ST RM', 'LM CAM CDM',
       'LM RM RB', 'CM RB LM', 'CM CB', 'CM CDM LM', 'CM CDM RB',
       'CAM LW CM', 'LM CAM CM', 'LM LWB', 'ST CAM LM', 'LM CAM CF',
       'RM LM CAM RW', 'ST CF CAM', 'LWB LB LM', 'RB RWB CB', 'CM CF CAM',
       'LW LM CAM', 'CM ST CDM', 'RM CDM', 'ST CAM CF', 'CAM CDM LM',
       'CAM RW CF', 'LM CM RM'], dtype=object)

One Hot/Label Encoding (categorical).

In [43]:
import pandas as pd
import numpy as np
import math
from sklearn import linear_model

In [44]:
X_cat = df.select_dtypes(include = object)
X_cat

,name,nationality,club,bp,position,team_&_contract,contract,a/w,d/w
0,E. Palmer-Brown,United States,FK Austria Wien,CB,CB,"FK Austria Wien Jun 30, 2021 On Loan","Jun 30, 2021 On Loan",Low,High
1,D. Avdijaj,Kosovo,Heart of Midlothian,CAM,LM CAM,Heart of Midlothian 2020 ~ 2020,2020 ~ 2020,High,Low
2,D. Ochoa,United States,Real Salt Lake,GK,GK,Real Salt Lake 2018 ~ 2020,2018 ~ 2020,Medium,Medium
3,N. Kenneh,England,Leeds United,CDM,CB CDM RB,Leeds United 2020 ~ 2022,2020 ~ 2022,Medium,Medium
4,E. Fernandes,Switzerland,1. FSV Mainz 05,CDM,CM CDM,1. FSV Mainz 05 2019 ~ 2023,2019 ~ 2023,Medium,Medium
...,...,...,...,...,...,...,...,...,...
1994,S. Aw,Senegal,Gil Vicente FC,LB,LB,Gil Vicente FC 2020 ~ 2023,2020 ~ 2023,High,Medium
1995,S. Mogi,Japan,Cerezo Osaka,GK,GK,Cerezo Osaka 2017 ~ 2021,2017 ~ 2021,Medium,Medium
1996,Carles Gil,Spain,New England Revolution,RM,RM CAM CM,New England Revolution 2019 ~ 2024,2019 ~ 2024,High,Medium
1997,J. Perch,England,Mansfield Town,CDM,CDM RB CM,Mansfield Town 2020 ~ 2021,2020 ~ 2021,Medium,Medium
1998,A. Oeynhausen,Germany,SC Paderborn 07,CAM,CM,SC Paderborn 07 2020 ~ 2022,2020 ~ 2022,Medium,Medium

In [45]:
X_cat.columns

Index(['name', 'nationality', 'club', 'bp', 'position', 'team_&_contract',
       'contract', 'a/w', 'd/w'],
      dtype='object')

In [46]:
df['a/w'].unique()

array(['Low', 'High', 'Medium', 'unknown_a/w'], dtype=object)

In [47]:
X_cat1=df[['bp', 'a/w', 'd/w']]
X_cat1

       bp     a/w     d/w
0      CB     Low    High
1     CAM    High     Low
2      GK  Medium  Medium
3     CDM  Medium  Medium
4     CDM  Medium  Medium
...   ...     ...     ...
1994   LB    High  Medium
1995   GK  Medium  Medium
1996   RM    High  Medium
1997  CDM  Medium  Medium
1998  CAM  Medium  Medium

[1996 rows x 3 columns]

In [48]:
# get dummies pandas
pd.get_dummies(X_cat1, drop_first=True).head()

,bp_CB,bp_CDM,bp_CF,bp_CM,bp_GK,bp_LB,bp_LM,bp_LW,bp_LWB,bp_RB,bp_RM,bp_RW,bp_RWB,bp_ST,a/w_Low,a/w_Medium,a/w_unknown_a/w,d/w_Low,d/w_Medium,d/w_unknown_d/w
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0

In [49]:
# sklearn

from sklearn.preprocessing import OneHotEncoder

pd.DataFrame(OneHotEncoder(drop='first').fit_transform(X_cat1).toarray(),
             columns=OneHotEncoder(drop='first').fit(X_cat1).get_feature_names(input_features=X_cat1.columns)).head()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,bp_CB,bp_CDM,bp_CF,bp_CM,bp_GK,bp_LB,bp_LM,bp_LW,bp_LWB,bp_RB,bp_RM,bp_RW,bp_RWB,bp_ST,a/w_Low,a/w_Medium,a/w_unknown_a/w,d/w_Low,d/w_Medium,d/w_unknown_d/w
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [50]:
X=df.drop('ova', axis=1)
y=df['ova']
y

0       67
1       68
2       54
3       55
4       70
        ..
1994    60
1995    59
1996    76
1997    63
1998    60
Name: ova, Length: 1996, dtype: int64

In [51]:
X_num=X._get_numeric_data()
X_num

,id,age,height,weight,foot,growth,joined,value,wage,release_clause,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,219461,23,74,194,1,7,2018,975000.0,5000.0,0.0,...,61,61,61,59,61,67,67,67,61,16
1,221896,22,68,154,1,5,2020,1200000.0,3000.0,2200000.0,...,47,47,47,49,45,38,38,38,45,17
2,247428,19,74,176,1,17,2018,120000.0,500.0,249000.0,...,18,18,18,16,16,18,18,18,16,53
3,255120,16,75,170,1,23,2020,160000.0,500.0,464000.0,...,54,54,54,53,53,54,54,54,53,11
4,215556,24,74,170,1,5,2019,2300000.0,13000.0,4300000.0,...,72,72,72,70,69,68,68,68,69,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,239074,21,68,143,0,11,2020,325000.0,1000.0,731000.0,...,52,52,52,58,58,54,54,54,58,15
1995,241223,21,77,176,1,9,2017,190000.0,700.0,285000.0,...,23,23,23,20,20,22,22,22,20,58
1996,210930,27,67,146,0,0,2019,8000000.0,9000.0,12000000.0,...,60,60,60,62,57,47,47,47,57,18
1997,162993,34,71,176,1,0,2020,140000.0,4000.0,245000.0,...,62,62,62,60,60,63,63,63,60,14
1998,254882,18,70,150,1,16,2020,425000.0,1000.0,946000.0,...,55,55,55,55,54,51,51,51,54,16

In [52]:
X_cat1=pd.get_dummies(X_cat1, drop_first=True)
X=pd.concat([X_num, X_cat1], axis=1) # concat numerical and categorical transformations
X

,id,age,height,weight,foot,growth,joined,value,wage,release_clause,...,bp_RM,bp_RW,bp_RWB,bp_ST,a/w_Low,a/w_Medium,a/w_unknown_a/w,d/w_Low,d/w_Medium,d/w_unknown_d/w
0,219461,23,74,194,1,7,2018,975000.0,5000.0,0.0,...,0,0,0,0,1,0,0,0,0,0
1,221896,22,68,154,1,5,2020,1200000.0,3000.0,2200000.0,...,0,0,0,0,0,0,0,1,0,0
2,247428,19,74,176,1,17,2018,120000.0,500.0,249000.0,...,0,0,0,0,0,1,0,0,1,0
3,255120,16,75,170,1,23,2020,160000.0,500.0,464000.0,...,0,0,0,0,0,1,0,0,1,0
4,215556,24,74,170,1,5,2019,2300000.0,13000.0,4300000.0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,239074,21,68,143,0,11,2020,325000.0,1000.0,731000.0,...,0,0,0,0,0,0,0,0,1,0
1995,241223,21,77,176,1,9,2017,190000.0,700.0,285000.0,...,0,0,0,0,0,1,0,0,1,0
1996,210930,27,67,146,0,0,2019,8000000.0,9000.0,12000000.0,...,1,0,0,0,0,0,0,0,1,0
1997,162993,34,71,176,1,0,2020,140000.0,4000.0,245000.0,...,0,0,0,0,0,1,0,0,1,0
1998,254882,18,70,150,1,16,2020,425000.0,1000.0,946000.0,...,0,0,0,0,0,1,0,0,1,0

In [53]:
from sklearn.preprocessing import MinMaxScaler
MinMaxtransformer = MinMaxScaler().fit(X)      #no refit!!
X1 = MinMaxtransformer.transform(X)
print(X1.shape)
X1 = pd.DataFrame(X1,columns=X.columns)
X1.head()

(1996, 110)

,id,age,height,weight,foot,growth,joined,value,wage,release_clause,...,bp_RM,bp_RW,bp_RWB,bp_ST,a/w_Low,a/w_Medium,a/w_unknown_a/w,d/w_Low,d/w_Medium,d/w_unknown_d/w
0,0.847033,0.225806,0.666667,0.694444,1.0,0.28,0.928571,0.012500,0.020,0.000000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.856432,0.193548,0.266667,0.324074,1.0,0.20,1.000000,0.015385,0.012,0.013802,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.954982,0.096774,0.666667,0.527778,1.0,0.68,0.928571,0.001538,0.002,0.001562,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.984672,0.000000,0.733333,0.472222,1.0,0.92,1.000000,0.002051,0.002,0.002911,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.831960,0.258065,0.666667,0.472222,1.0,0.20,0.964286,0.029487,0.052,0.026976,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [54]:
X1.describe().T

,count,mean,std,min,25%,50%,75%,max
id,1996.0,0.846618,0.140476,0.0,0.786460,0.882441,0.939724,1.0
age,1996.0,0.302056,0.156679,0.0,0.161290,0.290323,0.419355,1.0
height,1996.0,0.489746,0.177948,0.0,0.383333,0.466667,0.600000,1.0
weight,1996.0,0.434819,0.145357,0.0,0.324074,0.425926,0.527778,1.0
foot,1996.0,0.747495,0.434558,0.0,0.000000,1.000000,1.000000,1.0
...,...,...,...,...,...,...,...,...
a/w_Medium,1996.0,0.658317,0.474393,0.0,0.000000,1.000000,1.000000,1.0
a/w_unknown_a/w,1996.0,0.002505,0.050000,0.0,0.000000,0.000000,0.000000,1.0
d/w_Low,1996.0,0.097194,0.296297,0.0,0.000000,0.000000,0.000000,1.0
d/w_Medium,1996.0,0.733467,0.442257,0.0,0.000000,1.000000,1.000000,1.0
d/w_unknown_d/w,1996.0,0.002505,0.050000,0.0,0.000000,0.000000,0.000000,1.0

Train-test split.

In [55]:
from sklearn.model_selection import train_test_split
X1_train, X1_test, y_train, y_test = train_test_split(X1, y, test_size=0.2, random_state=7)

In [56]:
print(X1_train.shape)
print(X1_test.shape)
print(y_train.shape)
print(y_test.shape)

(1596, 110)
(400, 110)
(1596,)
(400,)

In [57]:
X1_train.head()

,id,age,height,weight,foot,growth,joined,value,wage,release_clause,...,bp_RM,bp_RW,bp_RWB,bp_ST,a/w_Low,a/w_Medium,a/w_unknown_a/w,d/w_Low,d/w_Medium,d/w_unknown_d/w
1317,0.954052,0.161290,0.733333,0.527778,1.0,0.48,0.964286,0.007051,0.016,0.005176,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1354,0.925311,0.161290,0.333333,0.222222,1.0,0.36,0.892857,0.006090,0.020,0.005665,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
578,0.973000,0.354839,0.400000,0.388889,1.0,0.00,0.821429,0.003526,0.002,0.003708,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1907,0.917974,0.161290,0.333333,0.370370,1.0,0.48,0.892857,0.039744,0.024,0.028231,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1489,0.723937,0.645161,0.666667,0.675926,1.0,0.00,0.678571,0.019231,0.024,0.020075,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [58]:
y_train.head()

1320    62
1357    62
579     62
1910    70
1492    77
Name: ova, dtype: int64

In [59]:
#train/fit model
lm = linear_model.LinearRegression()
lm.fit(X1_train,y_train)                         #no refit!!

LinearRegression()

In [60]:
from sklearn.metrics import r2_score

predictions = lm.predict(X1_train)
r2_score(y_train, predictions)

0.9253407016489034

In [61]:
predictions_test = lm.predict(X1_test)
r2_score(y_test, predictions_test)

0.9052309364037626

In [62]:
predictions

array([61.90380859, 61.07910156, 62.39355469, ..., 67.29003906,
       66.35742188, 66.19384766])

In [63]:
y_test[:5]

1011    56
1723    72
591     76
1350    70
595     66
Name: ova, dtype: int64

In [64]:
predictions_test[:5]

array([54.765625  , 69.69482422, 79.52880859, 70.69335938, 63.0859375 ])

In [65]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,predictions_test)
mse
#the mean of the squared differences between the predicted and actual values. 
#MSE = (1/n) * Σ(yi - ŷi)^2
#A lower MSE indicates a better fit between the model and the data.

4.281215547919273

In [66]:
rmse = np.sqrt(mean_squared_error(y_test,predictions_test))
rmse

2.069109844333856

In [67]:
y_test.mean()

66.9525

In [68]:
from sklearn.metrics import mean_absolute_error, r2_score

In [69]:
mae = mean_absolute_error(y_test, predictions_test)
print(mae)
#the average absolute difference between the predicted values and the actual values of the dependent variable.
#MAE = (1/n) * Σ|yi - ŷi|
#A lower MAE indicates a better fit between the model and the data.

1.588658447265625

In [70]:
rmse = math.sqrt(mse)
print(rmse)
#The RMSE is calculated by taking the square root of the mean of the squared differences between the predicted and actual values.
#RMSE = sqrt((1/n) * Σ(yi - ŷi)^2)
#A lower RMSE indicates a better fit between the model and the data.

2.069109844333856

In [71]:
import pickle

In [72]:
# saving
pickle.dump(MinMaxtransformer, open('MinMaxtransformer.p', 'wb') )
pickle.dump(lm, open('model.p', 'wb'))